/* Popup image */
body.mfp-zoom-out-cur #header, body.mfp-zoom-out-cur #block1, body.mfp-zoom-out-cur #block2 {  
	-webkit-filter: blur(2px); 
	-moz-filter: blur(2px); 
	-o-filter: blur(2px); 
	-ms-filter: blur(2px); 
	filter: blur(2px); 
}

.mfp-bg { 
	background: #F7F6F5; 
	opacity: 0.7; 
}


img.mfp-img { 
	padding: 0; 
} 

#header {
	display:none;
}

#title {
	text-align: center;
	color: white;
	font-size: 5em;
	text-transform: uppercase;
	font-style: bold;
	border-style: solid;
	border-top: thick double;
	border-bottom: thick double;
	border-left:none;
	border-right:none;
	text-shadow: 2px 2px #000;
}

#contact {
	margin 0px;
}

#contact ul {
	display:block;
	text-align: center;
	background: blue;
	height: 20px;
	margin: 0px;
	list-style-type: none;
}

#contact ul li {
	display:inline-block;
	margin 0px;
	padding: 2px;
}

#contact ul li a {
	font-size: 20;
}

#menu ul a {
	color: #999;

	-webkit-transition-property:color, text;
	-webkit-transition-duration: 1s, 1s;
	-webkit-transition-timing-function: linear, ease-in;

	-moz-transition-property:color, text;
	-moz-transition-duration:1s;
	-moz-transition-timing-function: linear, ease-in;

	-o-transition-property:color, text;
	-o-transition-duration:1s;
	-o-transition-timing-function: linear, ease-in;
}

#menu ul {
	margin: 15px;
	padding: 0px;
	text-align: left;
}

#menu #menu-title a {
	color: white;
}

#menu {
	background: none repeat scroll 0% 0% #222;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	border: solid 1px #FFF;
	padding: 10px;
}


#gallery {
	margin: 0 auto;
	list-style:none;
	background: #111;
}

#gallery figure {
    border-radius: 3px;
    border: 0px solid #eee;
    background: #222!important;
    background: none repeat scroll 0% 0% #FFF;
    border-radius: 0;
    box-shadow: none;
}

#gallery::after { 
	content:""; 
	display: block; 
	clear: both; 
}
.gallery-item { 
	position: relative; 
	display: block; 
	width: auto; 
}

.gallery-caption { 
	position: absolute; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	width: 50%; 
	z-index: 10; 
	pointer-events: none; 
}
.gallery-caption .entry-summary { 
	display: inline-block; 
	position: absolute; 
	width: 100%; 
	left 0;
	bottom: 0; 
	color: #F7F6F5; 
	opacity: 1;
	transition: all .8s ease; 
}

.gallery-item:hover .gallery-caption .entry-summary { 
	opacity: 1; 
}

.gallery-icon a img {
	transition: all .8s ease;
}


.gallery-item:hover .gallery-icon a img {
	filter: brightness(50%);
}

.gallery-caption h3 { 
	font-weight: bold; 
	text-transform: uppercase; 
	font-size: 1.3em; 
	letter-spacing: 0.05em; 
}

.gallery-caption .entry-summary > p { 
	font-family: Times, serif; 
	font-style: italic; 
	font-size: .8em; 
	opacity: .8; 
}

/****** Media Queries For Adaptive Layouts******/


/* Hides the gallery menu under 440px */
@media only screen and (max-width: 440px) {

	body {
		padding: 0px;
	}

	#header {
		display:none;
	}


	#block1 {
		top:0px;
		left:0px;
		width:100%;
		height:38px;
		position:fixed;
		clear:both;
		overflow:hidden;
		z-index:20;
		transition: all .8s ease; 
	}

	#block2 {
		margin-top: 50px;
	}

	#menu { 
		position: relative;
		width:100%;
	}

	#menu ul {
		text-align: center;
		list-style-type: none;
	}

	#menu ul a {
		color: #999;
	}

	#gallery .column-sizer, 
	#gallery figure {
		width:75%;
	}

	#gallery {
		top:0px;
		width: 100%;
		list-style:none;
		padding: 0px;
	}

	#footer {
		display:block;
		position: fixed;
		margin-top: -20px;
		height: 20px;
		width: 100%;
		bottom:0px;
		z-index:20;
	}
}

/* For all screens over 440px, show the gallery menu on the left side */
@media only screen and (min-width: 441px) {

	#block1 {
		position:fixed;
		margin:20px 0px 0px 10px;
		padding: 5px;
		height: 100%;
		width: 100px;
		float: left;
		overflow:show;
	}

	#block2 {
		margin-left:120px;
	}

	#gallery {
		margin: 0 auto;
		padding: 0px;
	}

	#footer {
		background:green;
		position: fixed;
		height: 50px;
		left:5px;
		bottom:0px;
	}

	#view {
		height:100%;
	}

}

@media only screen and (min-width: 441px) and (max-width: 620px) {
/*
	#gallery {
		background: brown;
	}
	*/
	#gallery figure {
		margin: 10px;
		width: 260px;
		float: right;
	}
}

@media only screen and (min-width: 620px) and (max-width: 800px) {
/*	#gallery {
		background: red;
	} */
	#gallery figure {
		margin: 10px;
		width: 200px;
		float: right;
	}
}

@media only screen and (min-width:800px) and (max-width: 1024px) {
/*
	#gallery {
		background: blue;
	}
	*/
	#gallery figure {
		margin: 10px;
		width: 195px;
		float: right;
	}

}

@media only screen and (min-width: 1024px) {

	#block1 {
		top: 100px;
	}

	#block2 {
		padding-top:120px;
	}

	#header {
		display: block;
		width: 98%;
		position: fixed;
		padding: 10px;
	}

	#gallery figure {
		margin: 10px;
		width: 250px;
		float: left;
	}

	.gallery-caption .entry-summary { 
		opacity: 0;
	}


	#menu ul a {
		color: #666;
	}

	#menu ul a:hover {
		color: white;
	}
}
