.landing {
	font-size: 20px;
	color: white;
	top: 0px; 
	left: 0px;
	width: 95%;
	height:95%;
 	margin: 10px 10px 10px 10px;
	padding: 5px;
	line-height: 20px;
	font-size: 20px;
	background-color: #555;
	background-image: 
	    linear-gradient(
	      rgba(0, 0, 0, 0.8),
	      rgba(0, 0, 0, 0.8)
	    ),
	    url(../images/blog/post2.jpg);
	background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
}
