
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Doppio+One);
@import url(http://fonts.googleapis.com/css?family=Raleway);


img, embed, object{
	max-width: 100%;
}

body {
	margin: 5px 5px 0px 5px;
	text-align: center;
	background: #222;
	height 100%
}

body, div, a, input, select, button, textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

a {
	color: #444;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

img{
	border: 0px;
	box-shadow: 0 0px 5px #cccccc;
	border-radius: 5px;
    	//padding: 3px;
}

a img {
	border: 0px;
}

h1 {
	font-size: 30px;
	font-weight: normal;
}

.invisible {
	display:none;
}

.visible {
	display:inline-block;
}


#view {
	background: #222;
}

#footer {
	text-align: center;
	font-variant: small-caps;
}

#footer a {
	color: #eee;
}

