<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="contact" role="contentinfo">
	<ul class="soc-icons">
		<li>
			<a href="{{site.instagram}}" title="Instagram">
				<i class="fa fa-instagram"></i>
			</a>
		</li>
		<li>
			<a href="{{site.flickr}}" title="Flickr">
				<i class="fa fa-flickr"></i>
			</a>
		</li>	
		<li>
			<a href="{{site.facebook}}" title="Facebook">
				<i class="fa fa-facebook"> </i>
			</a>
		</li>

		<li>
			<a href="mailto:{{site.email}}" title="{{site.email}}">
				<i class="fa fa-envelope-o"></i>
			</a> 
		</li>

	</ul>	
</div>
