{% assign names = "" %}
{% for album in site.albums %}
	{% if album.category %}
		{% assign names = names | append:album.category | append:' ' %}
	{% endif %}
{% endfor %}
{% assign names = names | split:' ' | uniq %}

<nav id="menu"> <b id="menu-title"><a href="#" onclick="javascript:showMenu()">Galleries</a></b>
	</p>
	<ul class="active">
	{% for al in names %}  
	{% assign gal = "/albums/" | append:al | downcase | append: ".html" %}
		<li class="album_list">
			<a href="#" onclick="javascript:loadGallery('{{gal}}', '{{al}}')">
				{{ al }}
			</a>
		</li>
	{% endfor %}
	</ul>
</nav>
