<html>
	<head>
		<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<title>{{site.album_title}}</title>

		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/gallery.css">
		<link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">


		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
		<script type="text/javascript" src='/js/imagesloaded.pkgd.min.js'></script>
		<script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="/js/jquery.history.js"></script>
		<script type="text/javascript" src='/js/black.album.js'></script>
	</head>

	<body>
		<div id='header'>
			<div id='title'>
				<b>{{site.title}}</b>
			</div>
		</div>
		<div id='view'>
			<div id='block1'>
				{% include menu.html %}
			</div>
			<div id='block2'>
				<div id='gallery'> 
					<div class="column-sizer"></div>
				</div>
			</div>
			
		</div>
		<div id='footer'> 
			<a href="about.html">About</a> 			
			{% include contact.html %}
		</div>

	</body>
</html>
