<html lang="en-us">
	<head>
		<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{site.album_title}}</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}css/main.css">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
		<script type="text/javascript" src='{{ site.baseurl }}js/imagesloaded.pkgd.min.js'></script>

		<script type="text/javascript">
			function applyTiles() {
				var posts = $('#posts ul');
				posts.imagesLoaded(function() {
					$('#posts ul').masonry({ itemSelector : '.post' });;
				});
			}
			$(function() {
				applyTiles();
			});
			$(window).resize(function() {
				applyTiles();
			});
		</script>
	</head>
	<body>

		<div class="landing">
			{{ content }}
		</div>

	</body>
</html>
