<html lang="en-us">
	<head>
		<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{site.album_title}}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/kenburned.css">
		<link rel="stylesheet" type="text/css" href="/css/landing.css">

		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src='/js/imagesloaded.pkgd.min.js'></script>
		<script type="text/javascript" src='/js/kenburned.min.js'></script>
		<script type="text/javascript" src='/js/black.landing.js'></script>
	</head>

	<body>
		<canvas id="kenburns"> </canvas>
		{{ content }}
	</body>
</html>
